:root {
    --blue-color: #4d5ae5;
    --modal-color: #2e2f42;
    --mains-color: #ffffff;
    --text-color: #434455;
    --text-footer: #E7E9FC;
    --bth-color:#F4F4FD;
    --pressed-state: #404BBF;
    --element-gap:24px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--mains-color);
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: var(--blue-color);
}

.container {
    margin: 0 auto;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid #7000FF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* HEADER */

.page-heade {
    border: bottom;
    text-align: center;
}

.page-heade-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-navigation,
.our-list,
.media-list {
    list-style: none;
}

.page-navigation {
    display: flex;
    align-items: center;
}

.links {
    color: var(--modal-color);
}

.logo {
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--blue-color);
}

.logo:hover,
.logo:focus {
    color: var(--modal-color);
}

.logo-links {
    color: var(--bth-color);
}

.menu-list,
.media-list {
    list-style: none;
}

.menu-list {
    display: flex;
    align-items: center;
}

.menu-item:not(:last-child) {
    margin-right: 40px;
}

.menu-link {
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--modal-color);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--pressed-state);
}

.address-list {
    margin-left: auto;
}

.menu-list {
    display: flex;
}

.contact:not(:last-child) {
    margin-right: 40px;
}

.contact-mailto {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.contact-mailto:hover,
.contact-mailto:focus {
    color: var(--pressed-state);
}

/* HERO-LIST */

.hero-list {
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    background-color: var(--modal-color);

    min-width: 1440px;
    min-height: 600px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/header_offise.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-button {
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--mains-color);
}

.modal-bth {
    margin-top: 48px;
    padding: 16px 32px;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;

    background-color: var(--blue-color);
    color: var(--mains-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

.modal-bth:hover,
.modal-bth:focus {
    background-color: var(--pressed-state);
}

/* MAIN-BTH */

.main-media {
    padding-top: 96px;
    padding-bottom: 120px;
}

.main-name-bth {
    display: flex;
    justify-content: center;
}

.main-item:not(:last-child) {
    margin-right: var(--element-gap);
}

.modal-bth-tu {
    padding: 12px 24px;
    border-radius: 4px;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;

    background-color: var(--bth-color);
    color: var(--blue-color);
    border: 1px solid #E7E9FC;
}

.modal-bth-tu:hover,
.modal-bth-tu:focus {
    color: var(--mains-color);
    background-color: var(--pressed-state);
    border-color: var(--pressed-state);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);  
}

/* TEAM-OUR */

.team-our {
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-list-text {
    display: flex;
    flex-wrap: wrap;
    gap: var(--element-gap);
}

.our-list-team {
    display: flex;
    margin-top: 72px;
    gap: var(--element-gap);
}

.our-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 72px;
    gap: var(--element-gap);
}

.our-images-going {
    width: calc((100% - var(--element-gap) * 3) / 4);

    background: var(--mains-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    border: 1px solid #e7e9fc;
}

.emplo-our-item {
    width: 264px;
}

.emplo-our-link {
    display: flex;
    justify-content: center;
    background-color: var(--bth-color);
    border-radius: 4px;
}

.emlo-our-icon {
    width: 64px;
    height: 64px;
    margin: 24px 100px 24px 100px;
}


.text-going {
    margin-top: 8px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--text-color);
}

.our-images-team {
    border: 1px solid #e7e9fc;
}

.our-images {
    width: calc((100% - var(--element-gap) * 2) / 3);
    background-color: var(--mains-color);
}

.employees-card {
    padding: 32px 16px;
}

.hero-person {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    
    color: rgba(46, 47, 66, 0.4);
    }

.emplo-person {
    text-align: center;
    margin-top: 8px;
}

.media-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 72px;
    column-gap: var(--element-gap);
    row-gap: calc(var(--element-gap) * 2);
    list-style: none;

    color: var(--modal-color);
}

.emplo-content {
    padding: 32px 15px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.cards {
    margin-top: 7px;
    color: var(--text-color);
}

.team-our-going {
    padding-bottom: 120px;
}

.team-our-employee {
    padding-top: 120px;
    padding-bottom: 120px;
    
    background-color: var(--bth-color);
}

.hero-our {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--modal-color);
}

.emplo-our {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--modal-color);
}

/* FOOTER */

.conclusion-portfolio {
    padding-top: 102px;
    padding-bottom: 100px;
    background-color: var(--modal-color);
}

.logo-footer {
    margin-right: 0px;
    margin-bottom: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--blue-color);
}
.conclusion {
    width: 264px;
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--text-footer);
}



